.header{
width: 100%;
height: 60px;
background: fixed;
background-color: rgb(8, 55, 103);
color: rgb(251, 248, 248);
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: large;
box-shadow: 7px 7px 7px 7px gray;

}

.headercol-1{  
    width: 100px ;
    height: 60px;
    float: left;
    text-align: center;
}
.headercol-2{  
    width: 100px ;
    height: 60px;
    float: left;
    text-align: center;

}
.headercol-3{  
    width: 100px ;
    height: 60px;
    float: left;
    text-align: center;

}
.headercol-4{  
    width: 100px ;
    height: 60px;
    float: left;
    text-align: center;

}
.headercol-1:hover{
    color:  rgb(8, 55, 103);
    background-color:  rgb(251, 248, 248);
}
.headercol-2:hover{
    color:  rgb(8, 55, 103);
    background-color:  rgb(251, 248, 248);
}
.headercol-3:hover{
    color:  rgb(8, 55, 103);
    background-color:  rgb(251, 248, 248);
}
.headercol-4:hover{
    color:  rgb(8, 55, 103);
    background-color:  rgb(251, 248, 248);
}
.section{
    display: flex;
    width: 100%;
    height: 200px;
    font-family: Arial, sans-serif;
    font-size: large;
background-color: rgb(48, 65, 83);
color: rgb(253, 254, 254);
text-align:center;
}
.section2{
    width: 100%;
    height: 40px;
    font-family: Arial, sans-serif;
    font-size: large;
background-color: rgb(97, 77, 77);
color: rgb(88, 121, 121);
text-align:center;
border: 3px solid rgb(246, 248, 250) ;
box-shadow: 3px 3px 5px 5px gray;
}
.a1{
    width: 70px;
    height: 30px;
    font-family: arial,sans-serif;
    font-size: large;
    color: aliceblue;
    background-color: rgb(8, 55, 103);
    border: 8px solid rgb(8, 55, 103) ;
    border-style:outset;
    margin-top: 70px;
    margin-bottom: 70px;
}
.feature{
    font-family: Arial, sans-serif;
    font-size:xx-large;
    color: rgb(8, 55, 103);
    text-align: center;
    width: 100%;
    height: fit-content;
    margin-top: 70px;
    margin-bottom: 70px;
}
.a2{
    font-family: Arial, sans-serif;
    font-size:x-large;
    color: rgb(8, 55, 103);
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    text-align: center;
    margin-bottom: 60px;


}
.d2{
    font-family: Arial, sans-serif;
    font-size:x-large;
    background-color: rgb(8, 55, 103);
    color: aliceblue;
    width: 100%;
    height: 50px;
    background-repeat: no-repeat;
    text-align: center;

}